<h1>Search Portland Tweets</h1>

<form  action="/search" method="post">
  <div class="form-group">
    <label for="query">Enter Query:</label>
    <input type="text" name="query" class='form-control'>
  </div>
  <button type="submit" class='btn btn-success'>Submit</button>
</form>
